/* Reset & Common styles */
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: 'Jost', sans-serif;
  font-weight: 400;
}

html {
  font-size: 62.5%;
}
