/* Navbar */

.navbar {
  width: 100%;
  height: 4rem;
  background-color: #e41c6f;
  box-shadow: 0.2rem 0.2rem 5rem #555;
  z-index: 99;
}

.navbar-link {
  font-size: 1.7rem;
  font-weight: 600;
  color: #333;
  margin: 0 3rem;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  position: relative;
}

.navbar-link::before {
  content: '';
  width: 0;
  height: 0.2rem;
  background-color: #fff;
  position: absolute;
  right: -15%;
  bottom: -0.3rem;
  transition: width 0.2s;
}

.change.navbar-link::before {
  width: 130%;
}

.navbar-link:hover {
  color: #fff;
  transition: color 0.2s;
}

.navbar-link:hover::before {
  width: 130%;
}

.sticky {
  position: fixed;
  top: 0;
}

.change.navbar-link {
  color: #fff;
}
