/* Section 3 - Projects */

.section-3 {
  width: 100%;
  height: 100%;
  padding: 10rem 0;
  background-color: #eef;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects-wrapper {
  width: 80%;
  flex-wrap: wrap;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  background-color: #fff;
  box-shadow: 0.3rem 0.3rem 0.5rem #777;
  position: relative;
  overflow: hidden;
  transition: box-shadow 0.5s;
}

.project:hover {
  box-shadow: 1rem 1rem 1rem #777;
}

.project-text {
  text-align: center;
  letter-spacing: 0.1rem;
  position: absolute;
  top: -10rem;
  transition: top 0.3s;
  z-index: 99;
}

.project:hover .project-text {
  top: 5rem;
  transition: top 0.3s 0.3s;
}

.project-name {
  font-size: 3rem;
  font-weight: 700;
  color: #333;
  text-transform: capitalize;
}

.project-technologies {
  font-size: 1.8rem;
  color: #e41c6f;
}

.project-img {
  width: 40rem;
  transition: opacity 0.3s;
}

.project:hover .project-img {
  opacity: 0.2;
}

.project-link {
  font-size: 2rem;
  font-weight: 500;
  color: #333;
  letter-spacing: 0.1rem;
  border: 0.3rem solid #e41c6f;
  padding: 0 1rem;
  background-color: #fff;
  position: absolute;
  bottom: -5rem;
  transition: bottom 0.3s;
}

.project:hover .project-link {
  bottom: 5rem;
  transition: bottom 0.3s 0.3s;
}
